h1 {
    color: #ffffffde;
}

* {
    font-family: "Poppins", sans-serif;
}

.textTitle {
    font-size: 2rem;
}

.headerContainer {
    background-color: #088004;
    padding: 15px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.iconeDinheiro{
    width: 100px;
    height: 100px;
}

.titleIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}