/* ------------------------------ */
/* ESTILO PADRÃO (MOBILE FIRST)   */
/* ------------------------------ */

h1 {
    color: #ffffffde;
}

* {
    font-family: "Poppins", sans-serif;
}

.textTitle {
    font-size: 2rem;
}

.headerContainer {
    background-color: #088004;
    padding: 15px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.iconeDinheiro {
    width: 100px;
    height: 100px;
}

.titleIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ------------------------------ */
/* ≥ 480px — Telas Pequenas       */
/* ------------------------------ */
@media (min-width: 480px) {
    .textTitle {
        font-size: 2.2rem;
    }

    .iconeDinheiro {
        width: 110px;
        height: 110px;
    }
}

/* ------------------------------ */
/* ≥ 768px — Tablets              */
/* ------------------------------ */
@media (min-width: 768px) {
    .textTitle {
        font-size: 2.5rem;
    }

    .headerContainer {
        padding: 20px;
    }

    .iconeDinheiro {
        width: 120px;
        height: 120px;
    }
}

/* ------------------------------ */
/* ≥ 1024px — Notebook            */
/* ------------------------------ */
@media (min-width: 1024px) {
    .textTitle {
        font-size: 2.8rem;
    }

    .headerContainer {
        padding: 25px;
    }

    .iconeDinheiro {
        width: 130px;
        height: 130px;
    }
}

/* ------------------------------ */
/* ≥ 1280px — Desktops Grandes    */
/* ------------------------------ */
@media (min-width: 1280px) {
    .textTitle {
        font-size: 3rem;
    }

    .headerContainer {
        padding: 30px;
    }

    .iconeDinheiro {
        width: 150px;
        height: 150px;
    }
}
